/*---------FOOTER------------*/
#footer
{
    text-align: center;
    
    padding: 30px;
    color: #fff;
    font-weight: bold;

    background-image: linear-gradient(rgba(117, 53, 85, 0.438),rgba(126, 71, 75, 0.267)), url(../img/4.jpg);
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    

}