section#nav-bar {
    color:red;
    position: fixed !important;
    top: 0;
    z-index: 10;
    .navbar
    
    {
        .navbar-brand{
            height: 150px;
            width: 150px;
            padding-left: 30px;
        }

        .navbar-nav
        {
            li
            {
                padding: 0 10px;
                
                a:hover
                {
                    color: rgba(0, 128, 96, 0.904)!important;
                }
      
            }
        }
    }
}