/*-----------PORTFOLIO-----------------*/
#portfolio
{
    font-weight: bold; 
    padding: 100px;
    width: 100%;
    text-align: center;
    color: #fff;
    
    background-image: linear-gradient(rgba(117, 113, 53, 0.986),rgba(113, 126, 67, 0.932)), url(../img/5.jpg);
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;

}
//#portfolio h1
// {font-weight: bold;} //
 